body {
    background-image: url("https://source.unsplash.com/random");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



h1 {
    font-size: 48px;
    color: #007bff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

p {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

input {
    width: 300px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

input:hover {
    border-color: #007bff;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}



#message {
    font-weight: bold;
    color: #008000;
    margin-top: 20px;
    font-size: 20px;
}

#result {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

#score {
    font-size: 16px;
    color: #555;
}

#attempts {
    font-size: 16px;
    color: #555;
}


#wrong-image {
    display: none;
    width: 100%; 
    height: auto; 
    max-width: 100px; 
    max-height: 100px;
    margin: 20px auto;
    transition: transform 0.3s;
}

/* Imagen cuando acierta */
#correct-image {
    display: none;
    width: 100%; 
    height: auto; 
    max-width: 100px; 
    max-height: 100px; 
    margin: 20px auto;
    transition: transform 0.3s;
}